section {
    padding: 20px;
}

section h2 {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    height: 425px;
}

td {
    text-align: center;
    width: 50%;
}

.center {
    text-align: center;
}

.subtitle {
    font-size: 18px;
    font-weight: bold;
}

.pictures img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0;
}


/*
p{
    text-align: justify;
}
*/
#afspraken{
    text-align: justify;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */    
    padding-top: 100px;
    padding-bottom: 100px;
}
#afspraken div{
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  width: 700px;
}
.afspraken_p{
    text-align: left;
}
.nuttige_tips_p{
    text-align: left;
}
.betaling_p{
    text-align: left;
}
.afspraken_p2{
    text-align: left;
}
.betaling_p2{
    text-align: left;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
  }
  
  a {
    color: #000;
  }
  
  /* header */
  
  .frame1-header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .frame1-header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .frame1-header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .frame1-header li a:hover,
  .frame1-header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .frame1-header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .frame1-header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .frame1-header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .frame1-header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .frame1-header .menu-icon .navicon:before,
  .frame1-header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .frame1-header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .frame1-header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .frame1-header .menu-btn {
    display: none;
  }
  
  .frame1-header .menu-btn:checked ~ .menu {
    max-height: 300px;
  }
  
  .frame1-header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .frame1-header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .frame1-header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .frame1-header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .frame1-header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  .cta h3 {
    color: black;
    font-size: 28px;
    font-weight: 700;
}
.text-center {
  text-align: center!important;
}  
[data-aos].aos-animate {
  pointer-events: auto;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}
.cta .cta-btn {
/*  font-family: "Raleway", sans-serif; */
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid rgba(55, 142, 181, 0.9);
  color: black;
}

.cta .cta-btn:hover{
  /*  font-family: "Raleway", sans-serif; */
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 25px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid rgba(55, 142, 181, 0.9);
    background-color: rgba(55, 142, 181, 0.9);
    color: black;
  }
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .frame1-header li {
      float: left;
    }
    .frame1-header li a {
      padding: 20px 30px;
    }
    .frame1-header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .frame1-header .menu-icon {
      display: none;
    }
  }
  .frame1-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin: 0 15px; /* Adjust the spacing between menu items as needed */
  }
  .menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .menu li {
    margin: 0 15px; /* Adjust the spacing between menu items as needed */
  }  

  .frame1-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin: 0 15px; /* Adjust the spacing between menu items as needed */
  }