section {
    padding: 20px;
}

section h2 {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    height: 425px;
}

/*td {
    text-align: center;
    width: 50%;
}*/

.center {
    text-align: center;
}

.subtitle {
    font-size: 18px;
    font-weight: bold;
}

.pictures img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0;
}
.pictures_logo img{
    max-width: 156.25px;
    height: 305px;
    display: block;
    margin: 0;
    max-height: auto;
}
.logo_table{
    width: 20%;
    padding-left: 80px;
}
.logo_table_context{
    width: 80%;
    padding:30px;
    text-align: justify;
}


/*
p{
    text-align: justify;
}
*/
.voorwat{
    padding: 16px;
}
.Iedereen{
    padding: 16px;
}
.Kinderen{
    padding: 16px;
}
.sporters{
    padding: 16px;
}
.table_afspraken{
    background-color: lightgray;
}

.container_for_button {
    height: 50px;
    position: relative;
  }
  
  .center_for_button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(55, 142, 181, 0.9);
  }